@use "./utilities/variables.scss" as *;
@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@1;100;200;300;400;500;600;700;800;900;1000&display=swap');

body {
    background-color: #212121;
    font-family: 'Sofia Sans Condensed', sans-serif;
    height: 100vh;
    position: relative;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.colorBlack {
    color: $colorFontBlack;
}

ul li.active {
    border-bottom: 3px solid $colorFontBlue;

    a {

        color: $colorFontBlue !important;
    }
}

.non-active {
    margin-bottom: 3px;
}

header {

    div.upper {
        background-color: $colorFontBlue;
        font-size: .88rem;
        padding: .47rem 0;
    }

    div.lower {
        background-color: $colorFontWhite;
        padding: 1rem 0;

        img {
            width: 80px;
            height: 80px;
        }

        ul li {
            margin-left: 2.5rem;

            a {
                color: $colorFontBlack;
                text-decoration: none;
                font-size: 20px;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }

    div.logo {
        margin-left: 1rem;
    }

    div.searchbar {
        input {
            border: none;
            border-bottom: 2px solid $colorFontBlue;
        }

        input:focus {
            outline: none;
        }

        div.icon {
            position: absolute;
            right: 0;
        }
    }
}

.col-cs {
    width: calc(100% / 5 - 25px);
    margin-right: 25px;
    margin-bottom: 1rem;

    img {
        width: 100%;
        height: 330px;
        object-fit: cover;
        margin-bottom: .88rem;
        transition: all 1s ease;
        cursor: pointer;
    }
}

.col-12 {
    img {
        width: 100%;
        height: 330px;
        object-fit: cover;
        margin-bottom: .88rem;
        transition: all 1s ease;
        cursor: pointer;
    }
}

div.container-modal {
    height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 3;

    div.modale {
        width: 400px;
        height: 300px;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 1rem;
        z-index: 3;
        overflow: hidden;

        div.header {
            background-color: $colorFontBlue;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.55rem 1rem;
        }

        div.button {
            background-image: url(../img/modal-image.gif);
            background-size: cover;
            background-position: center;

            button {
                padding: 0.1rem 1rem;
                font-size: 1.3rem;
            }
        }
    }
}

div.container-modal.active {
    display: flex;
}